# node_modules
node_modules/

# Output directories
dist/
build/
.vite/
.next/
out/
coverage/

# Logs and reports
*.log
*.map
.pnpm-debug.log*
playwright-report/
.nyc_output/

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*

# GitHub Actions (opcional)
.github/
