.wrapper {
  padding: 2rem 0;
  background-color: #D6B469; 
  text-align: center;
}

.title {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carouselWrapper {
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
}

.carousel {
  display: flex;
  width: fit-content;
  animation: scroll 40s linear infinite;
}

.carouselWrapper:hover .carousel {
  animation-play-state: paused;
}

.slide {
  flex: 0 0 auto;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
}

/* Nuevo estilo para mostrar los nombres */
.categoryName {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
